body {
	width: 100%;
	height: 100%;
}

h1, h2, h3 {
  font-family: 'Georgia', Times, Times New Roman, serif;
}

p, a {
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

ul {
	position: relative;
	left: 380px;
	top: 33px;
}

li {
	float: left;
}

a {
	font-size: 19px;
    color: #c9c9c9;
    text-align: center;
    padding: 5px 15px;
    text-decoration: none;
    border-right: solid;
    border-width: 1px;
}

li a:hover {
	color: #ffffff;
	background-color: #c9c9c9;
}

.background {
	background-image: url(../images/intersection.png);
	background-repeat: repeat;
	background-attachment: fixed;
	background-color: #ffffff
	background-size: cover;
	background-position: bottom;
	width: 100%;
	height: 100%;
}

/*.entire {
	width: 960px;
}*/

.main {
	width: 650px;
	height: 650px;
	position: relative;
	left: 160px;
	background-color: #ffffff;
}

/*.sidebar {
	width: 270px;
	float: right;
}*/

/*.social {
	width: 13%;
	height: 13%;
}*/

/*.footer {
	display: block;
	height: 50px;
	border: 5px;
	border-color: yellow;
	font-size: 7pt;
	background-color: #666666;
	text-align: center;
	color: white;
}*/

#navbar {
	background-color: #ffffff;
	width: 100%;
	height: 43px;
	padding: 0px 20px 48px 162px;
	border-style: solid;
	border-bottom-width: 2px;
	border-color: #c9c9c9;
}

#navtitle {
	font-size: 32px;
	font-weight: bolder;
	height: 43px;
	width: 310px;
	background-color: #a9c6fb;
	float: left;
	padding: 28px 20px 20px 20px;
	color: #ffffff;
}

#contact-btn {
	border-right: none;
}